KC_DB=postgres

KC_DB_URL_HOST=ladesa-ro-sso-db
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=ladesa-ro-sso

KC_DB_SCHEMA=public
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=5fc445f63b0b4cf388d0e772e053d468

# KC_PROXY=edge
# KC_HOSTNAME_URL=https://TARGET
# KC_HOSTNAME_STRICT=false
# KC_HOSTNAME_STRICT_BACKCHANNEL=true

KEYCLOAK_ADMIN=UnsafePassword
KEYCLOAK_ADMIN_PASSWORD=UnsafePassword